.line::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid white;
    bottom:0;
    left:0;
    width: 40%;
}
@media (max-width:900px) {
    .border::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        border: 0px solid white;
        background-color: white;
        width: 0px;
    }
    
}

@media (min-width:1500px) and (max-width: 1680px) {
    .border::after {
        content: '';
        position: absolute;
        bottom: 230px;
        left:0;
        border: 1px solid white;
        background-color: white;
        width: 60px;
    }
    
    .border2::after {
        content: '';
        position: absolute;
        bottom: 250px;
        left:0;
        border: 1px solid white;
        background-color: white;
        width: 60px;
    }
}